//rename constants.example to constants.js and replace the values

export const APP_ID="API_ID_HERE";
export const WEATHER_API_URL="https://api.openweathermap.org/data/2.5";
export const WEATHER_ICON_URL="https://openweathermap.org/img/wn";